body{
    margin: 0px;
}
/*トップメニュー*/
.top_menu{
    margin-top: 10px;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
/*トップのロゴ*/
.top_logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;

}
.top_logo img{
    height: 45px;
    z-index: 3;
}
/*トップの左側*/
.top_menu_left{
    margin-top: 10px;
    margin-left: 15vw;
    display: flex;
    justify-content: start;

    
}
/*トップの左側のボタン*/
.top_menu_left a{
    margin-right: 20px;
    color: black;
    text-decoration: none;
    margin-bottom: auto;
}
/*トップの左側のボタンがhoverの時に色変えて下線付ける*/
.top_menu_left a:hover{
    text-decoration: underline;
}

.top_menu_wether{
    padding-right: 1em;
    border-right: 2px solid rgb(223, 223, 223);
}
.top_menu_ev_news{
    padding-right: 1em;
    border-right: 2px solid rgb(223, 223, 223);
}
.top_menu_breaking{

}
/*トップの右側*/
.top_menu_right{
    margin-top: 10px;
    margin-right: 15vw;
    display: flex;
    justify-content: start;

}
.top_menu_right a{
    margin-right: 20px;
    color: black;
    text-decoration: none;
    margin-bottom: auto;
}
.top_menu_right_application{
    padding-right: 1em;
    border-right: 2px solid rgb(223, 223, 223);
}
.top_menu_right_guide{
    padding-right: 1em;
    border-right: 2px solid rgb(223, 223, 223);
}
/*メイン*/
.main_content{
    margin-top: 0px;
    margin-left: 15vw;
    margin-right: 15vw;
    height: 100vh;
    background-color: aqua;
}
.main{
    margin: 0px;
    height:150vh;
    background-color: #f0f0f0;
}
/*下のほうのいろいろ書いてるやつ*/
.submenu{
    display: flex;
    margin-top: 10px;
}
.submenu > *{
    padding-right: 1.5em;
    padding-left: 1.5em;
    color: black;
    text-decoration: none;
    font-size: 13px;
    font-weight: 550;
    padding-bottom: 7px;
}
.submenu > *:hover{
    border-bottom: solid 4px #df3030;
    margin-bottom: -4px;
}
.submenu_top{
    margin-left: 15vw;
}
/*ページによってここのclass変えて*/
.submenu_top{
    color:#df3030;
    font-weight: 900;
}
.submenu_separator{
    width: 2px;
    height:20px;
    background-color: rgb(187, 187, 187);
    padding: 0px;
}
hr {
    border: none;
    height: 4px;
    background-color: #c0c0c0;
    margin-top: 0px;
    margin-bottom: 0px;
}
.menu_line{
    position: relative;
    left: -15vw;
    width: 100vw;
}